body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.country {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.country-info {
    display: flex;
    align-items: center;
}

.country img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.country-name {
    font-weight: bold;
}

.country-population {
    color: #666;
}
